[Unit]
Description=N0JCG Winlink USB Ethernet gadget
After=local-fs.target systemd-modules-load.service
Before=n0jcg-usb-network.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/sbin/n0jcg-usb-gadget.sh
ExecStop=/usr/local/sbin/n0jcg-usb-gadget-remove.sh

[Install]
WantedBy=multi-user.target
